head
    link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='/css/productstyle.css')
    title= category
nav.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/')
                span.headleft IUT 
                span.headright STORE
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/') Home
                li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown' href='#')
                        | Categories
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='/product/?category=tshirt') T-Shirts
                        li
                            a(href='/product/?category=jacket') Jackets
                        li
                            a(href='/product/?category=hoodie') Hoodies
                        li
                            a(href='/product/?category=others') Others
                li
                    a(href='/account') Account
                li
                    a(href='/cart') Cart

br
br
.card_container
    each product in products    
        .card
            .product_background
                img(class='product_image', src= product.url)
            .info
                .product_name
                    div
                        h1.big= product.p_title                        
                .description
                    h3.title Product Info
                    p.text= product.p_description
                .color-container
                    h3.title= `Color: ${product.color}`
                .size-container
                    h3.title= `Size: ${product.size}`
                .buy-price
                    button(value=`{"owner_id": ${product.owner_id}, "p_id": ${product.p_id}, "p_title": "${product.p_title}", "price": ${product.price}}` class='buy') Add to cart
                        i(class='fas fa-shopping-cart')
                    .price
                        i(class='fas fa-dollar-sign')
                        h1= `${product.price} tk`

script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js")
script(src='/js/products.js')
script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
